services:
  surrealdb:
    image: surrealdb/surrealdb:latest
    container_name: surrealdb
    restart: unless-stopped
    ports:
      - "8000:8000"
    command: [ "start", "--log", "info", "--bind", "0.0.0.0:8000", "--user", "root", "--pass", "root", "file:/data/inoculum.db" ]
    volumes:
      - ./database_persistence:/data

volumes:
  data: {}
